.artBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.art {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.artsingle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(224, 221, 50);
  box-shadow: 5px 5px 5px rgb(112, 106, 53);
  border-radius: 10px;
  margin: 5px;
  width: 150px;
  height: 168px;
}
.art p {
  margin: 0;
  text-align: center;
}
.loading {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
