.crittersBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  min-height: 100vh;
}
.critters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: yellow;
}

.fish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: red;
  width: 33%;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
.insects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: blue;
  width: 33%;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.creatures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: orange;
  width: 34%;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}
