.fossilsBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
.fossils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.fossil {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: rgb(189, 119, 107);
  box-shadow: 5px 5px 5px rgb(71, 46, 38);
  border-radius: 10px;
  margin: 5px;
}
.fossil p {
  margin: 0;
}
.loading {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
