.navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background-color: #ffd11a;
  padding: 10px;
  padding-top: 20px;
}
.link {
  text-decoration: none;
  font-size: 18px;
  margin: 0;
  margin-block: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homebutton {
  padding-top: 30px;
  width: 35px;
}
.navicon {
  width: 80px;
}
