.singleMiscBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleMisc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.miscName {
  font-size: 30px;
  font-weight: bold;
}
.miscImage {
  height: 120px;
}
.miscVariants {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.miscVariant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
