.singleCreatureBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleCreature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.creatureName {
  font-size: 30px;
  font-weight: bold;
}
.creatureImage {
  height: 250px;
}
