.singleVillagerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleVillager {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.villagerName {
  font-size: 30px;
  font-weight: bold;
}
