.singleFishBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleFish {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  padding-right: 20px;
}
.fishName {
  font-size: 30px;
  font-weight: bold;
}
.fishImage {
  width: 500px;
}
