.singleInsectBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleInsect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.insectName {
  font-size: 30px;
  font-weight: bold;
}
.insectImage {
  height: 250px;
}
