.villagersBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  min-height: 100vh;
}
.villagers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.villager {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: darkkhaki;
  box-shadow: 5px 5px 5px rgb(59, 71, 38);
  border-radius: 10px;
  margin: 5px;
}
.villager p {
  text-align: center;

  margin: 0;
}
.loading {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.link {
  text-decoration: none;
}
.villagerSort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
